body {
  font-family: Arial, sans-serif;
  background-color: $primary-color;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.my-bg {
  background: url("../images/bg.png") no-repeat;
  width: 400px;
  height: 300px;
}
