body {
  font-family: Arial, sans-serif;
  background-color: darken($primary-color, 70%);
  color: $primary-color;
  padding: 20px;
  text-align: center;
}

.my-bg {
  background: url("../images/bg.png") no-repeat;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
